version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: hms
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - hms-net
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    image: prathamaher/hms-backend:latest
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - hms-net

  bloodbank:
    image: prathamaher/bloodbank-service:latest
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - hms-net

  frontend:
    image: prathamaher/hms-frontend:latest
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
      - bloodbank
    networks:
      - hms-net

volumes:
  mysql_data:

networks:
  hms-net:
